<div style="text-align:center"> CRUD </div>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://code.angularjs.org/1.2.2/angular-animate.min.js"></script>
    <style>
        .ng-enter {
            -webkit-transition: 1s;
            transition: 3s;
            opacity: 0;
        }

        .ng-enter-active {
            opacity: 1;
        }

        .ng-leave {
            -webkit-transition: 1s;
            transition: 2s;
        }

        .ng-leave-active {
            opacity: 0;
        }
    </style>
<table class="table" style="width:500px">
    <tbody>
        <tr>
            <td>Name</td>
            <td><input type="text" data-ng-model="emp.name" /></td>
        </tr>
        <tr>
            <td>Username</td>
            <td><input type="text" data-ng-model="emp.username" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" data-ng-model="emp.password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" data-ng-click="save()" value="Save" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" data-ng-click="update()" value="Update" />
            </td>
        </tr>
    </tbody>
</table>
<br />
<div style="text-align:center; width:550px">
    Filtro: <input type="text" ng-model="myNameFilters">  
<table class="table table-striped">
    <thead>
        <tr>
            <th ng-click="predicate = 'id'; reverse=!reverse">Member ID</th>
            <th ng-click="predicate = 'name'; reverse=!reverse">Name</th>
            <th ng-click="predicate = 'username'; reverse=!reverse">Username</th>
            <th ng-click="predicate = 'password'; reverse=!reverse">Password</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in emplist | filter:myNameFilters | orderBy:predicate:reverse" ">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.username}}</td>
            <td>{{item.password}}</td>
            <td><input type="button" data-ng-click="edit(item)" value="Edit" /></td>
            <td><input type="button" data-ng-click="delete(item)" value="Delete" /></td>
        </tr>
    </tbody>
</table>
    </div>

