@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div ng-view>

</div>
@section scripts{
    <script src="~/Scripts/App/routeConfig.js"></script>
    <script src="~/Scripts/App/Controllers/memberController.js"></script>
    }