<div style="text-align:center"> CRUD </div>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<table class="table" style="width:500px">
    <tbody>
        <tr>
            <td>Projecto</td>
            <td>
                <select data-ng-model="emp.trabalhoCod" data-ng-options="c.id as c.title for c in arrayProject" data-ng-change="GetProject()">
                    <option value="">-- Select Project --</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Membro</td>
            <td>
                <select data-ng-model="emp.memberCod" data-ng-options="c.id as c.name for c in arrayMember" data-ng-change="GetMember()">
                    <option value="">-- Select Member --</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Descricao</td>
            <td>
                <input type="text" data-ng-model="emp.description" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" data-ng-click="save()" value="Save" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" data-ng-click="update()" value="Update" />
            </td>
        </tr>
    </tbody>
</table>
<br />
<div style="text-align:center; width:550px">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Projecto</th>
            <th>Membro</th>
            <th>Descricao</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in emplist">         
            <td>{{item.trabalhoCod}}</td>
            <td>{{item.memberCod}}</td>
            <td>{{item.description}}</td>
            <td><input type="button" data-ng-click="edit(item)" value="Edit" /></td>
            <td><input type="button" data-ng-click="delete(item)" value="Delete" /></td>
        </tr>
    </tbody>
</table>
    </div>

